$font-families: 'Helvetica', 'Arial', sans-serif;
$material-icons: 'Material Icons';
$main-color: #1a8fff;
$text-color: #333333;
$text-color-cell-content: #777777;
$text-color-light: #cccccc;
$border-color: #eeeeee;
$color-highlight: #53cbf1;
$bg-color: #e9e9e9;
$cell-bg-color: #f9f9f9;
$neutral-color: #ffffff;

